appnope
attrs
backcall
bleach
certifi
chardet
click
cycler
decorator
defusedxml
entrypoints
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
nltk
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
plotly
plotnine
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
regex
requests
Send2Trash
six
terminado
testpath
tornado
tqdm
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
spacy_udpipe
pandarallel
